.foot{
display: flex;
flex-direction: column;
align-items: center;
background: #1E3673;
height: 250px;
}
.foot hr{
    width: 325px;
    height: 1px;
    background: #FFF;
}
.foot h3{
    color: #FFF;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 700;
    margin-top: 25px;
}
.foot p{
    color: #FFF;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 500;
}
.all{
    margin-bottom: 25px;
}
.ftter{
    display: none;
}
@media(min-width: 900px){
    .foot{
        display: none;
    }
    .ftter{
        background-color: #1E3673;
        display: flex;
        height: 489px;
        padding-top: 141px;
    }
    .log{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        justify-content: left;
    }
    .log p{
        color: #FFF;
        font-family: var(--roboto);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    .blog h3{
        color: #FFF;
        font-family: var(--roboto);
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
    }
    .blog p{
        color: #FFF;
        font-family: var(--roboto);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    .blog{
        margin-left: 100px;
    }
    .to{
        width: 427px;
    }
    .alt img{
        width: 40px;
        height: 40px;
    }
    .alt{
        display: flex;
        flex-direction: row;
        gap: 33px;
    }
    .mars{
        margin-left: 100px;
        display: flex;
        justify-content: space-between;
    }
}