.hot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail{
    width: 325px;
    height: 39px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    text-align: center;
}
.pass{
    width: 325px;
    height: 39px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    text-align: center;
}
.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logs{
margin-top: 87px;
}
.ini{
    width: 325px;
    height: 39px;
    border-radius: 20px;
    background: #1E3673;
    color: #FFF;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.863px;
}
.yeasa{
    color: #1E3673;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.863px;
    margin-top: 18px;
}
.word{
    color: #C5221F;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-top: 18px;
}
.docck{
    display: none;
}
.dock{
    display: none;
}
@media(min-width:900px){
    .dock{
        display: block;
    }
    .yeasa{
        font-size: 20px;
        margin-top: 25px;
    }
    .word{
        font-size: 20px;
        margin-top: 25px;
    }
    .docck{display: block;}
    .tea{
        display: flex;
        flex-direction: row;
        padding-top: 100px;
    }
    .log h3{
        font-size: 32px;
        color: #1E3673
    }
    .mail{
        width: 467px;
        height: 60px;
        border-radius: 50px;
        color: #FFF;
        font-family: var(--roboto);
        font-size: 20px;
        font-weight: 400;
        line-height: 26.438px;
    }
    .pass{
        width: 467px;
        height: 60px;
        border-radius: 50px;
        color: #FFF;
        font-family: var(--roboto);
        font-size: 20px;
        font-weight: 400;
        line-height: 26.438px;
    }
    .ini{
        border-radius: 50px;
        width: 467px;
        height: 50px;
        color: #FFF;
        font-family: var(--roboto);
        font-size: 20px;
        font-weight: 400;
        line-height: 26.438px;
    }
    .logg{
        margin-left: 156px;
        margin-right: 156px;
    }
}