.spec{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.specl{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.say{
    height: 192px;
    width: 140px;
}
.say p{
    font-size: 12px;
}
.says{
    display: flex;
    justify-content: space-between;
}
.ims{
    margin-bottom: 40px;
}
.day{
    background: linear-gradient(174deg, #2F98C2 0%, #1E3673 100%);
    width: 100%;
    height: 175px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}
.chat{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.scr{
    overflow-x: scroll;
    display: flex;
    margin-left: 10px;
}
.doc{
    margin-right: 25px;
}
.docs{
    height: 206px;
    width: 240px;
    
}
.pro button{
    border-radius: 0px 20px;
}
@media(min-width: 900px){
    .deas{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 92px;
        margin-right: 92px;
    }
    .deas p{
        font-size: 20px;
        width: 316px;
    }
    .bord{
        border-left: 1px solid rgba(0, 0, 0, 0.40); ;
        
    }
    .bords{
        margin-left: 70px;
    }
    .docs{
        width: 290px;
        height: 379px;
    }
    .scr{
        justify-content: space-between;
        margin-left: 90px;
        margin-right: 90px;
        overflow: unset;
    }
    .say{
        width: 583px;
        height: 192px;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 64px;
        padding-top: 43px;
    }
    .say p{
        font-size: 20px;
        text-align: justify;
        width: 410px;
    }
    .say h5{
        font-size: 20px;
        color: #1E3673;
        font-weight: 700;
    }
    .day{
        width: 85%;
        height: 217px;
        margin-left: 100px;
        margin-bottom: 64px;
    }
}