.succ{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    width: 375px;
    margin-top: 100px;
}
.full{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    background: #2F98C2;
    width: 375px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
}
.bell hr{
    width: 375px;
}
.bell{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bell p{
    color: #1E3673;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.103px;
    margin-top: 10px;
}
.full p{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.838px;
}
.bell button{
    width: 97px;
    height: 39px;
    background-color: #1E3673;
    border: none;
    border-radius: 10px;
    margin-bottom: 17px;
}