.loc{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background: #FFF;
    z-index: 2;
    text-align: center;
}
.ress{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-left: 26px;
    margin-right: 26px;
}
.loc p{
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 3px;
}
.res{
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 26.838px;
}
.map{
    margin-top: -10px;
    z-index: 1;
}
.name{
    width: 118px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #2F98C2;
    background: #FFF;
    margin-left: 12px;
    padding-left: 10px;
}
.sec{
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    margin-left: 39px;
}
.fir{
    margin-top: 11px;
    margin-left: 27px;
}
.mails{
    width: 246px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #2F98C2;
    background: #FFF;
    padding-left: 10px;
}
.news{
    width: 242.5px;
    height: 111.5px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #2F98C2;
    border-radius: 10px;
    border: 1px solid #2F98C2;
    background: #FFF;
    margin-top: 15px;
    padding-left: 10px;
}
.fro{
    width: 325px;
    height: 327px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 25px;
    z-index: 2;
    margin-bottom: 26px;
}
.fro h3{
    color: #1E3673;
    text-align: center;
    font-family: var(--roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.838px;
    padding-top: 28px;
}
.sub{
    width: 240px;
    height: 39px;
    stroke: #2F98C2;
    border: 1px solid #2F98C2;
    border-radius: 10px;
}
#yesa{
    width: 108px;
    height: 39px;
    border-radius: 10px;
    background: linear-gradient(175deg, #2F98C2 0%, #1E3673 100%);
    margin-left: -20px;
    margin-bottom: 3.5px;
}
.letter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-top: 0 auto;
}
.crib h3{
    color: #1E3673;
    font-family: var(--roboto);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42.368px;
}
#mess{
    width: 103px;
    height: 35.372px;
    border-radius: 10px;
    background: linear-gradient(175deg, #2F98C2 0%, #1E3673 100%);
    color: #FFF;
    text-align: center;
    font-family: var(--roboto);
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    margin-top: -15px;
    margin-left: 60px;
}
.map2{display: none;}
.mai{display: none;}
.desk{display: none;}
@media(min-width:900px){
    .mob{display: none;}
    .desk{display: block;}
    .map2{display: block;}
    .map1{display: none;}
    .mai{
        display: block;
        width: 265px;
        height: 208px;
        border-radius: 10px;
        background: #FFF;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .loc p{
        font-size: 20px;
        line-height: 26.838px;
    }
    .loc{
        display: block;
        width: 265px;
        height: 208px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       padding-top: 15px;
    }
    .mai p{
        color: rgba(0, 0, 0, 0.70);
        text-align: center;
        font-family: var(--roboto);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.838px;
    }
    .fro{
        width: 90%;
        height: 654px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 126px;
    }
    .name{
        width: 390px;
        height: 60px;
        margin-left: 23px;
    }
    .mails{
        width: 813px;
        height: 60px;
    }
    .news{
        width: 812.5px;
        height: 200px;
    }
    #mess{
        width: 220px;
        height: 60px;
        border-radius: 20px;
        margin-left: 288px;
        margin-top: -30px;
        font-size: 20px;
    }
    .fro h3{
        font-size: 32px;
        margin-top: 86px;
        margin-bottom: 42px;
    }
    .letter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 288px;
        padding-right: 100px;
    }
    .crib h3{
        font-size: 32px;
    }
    .crib p{
        font-size: 20px;
    }
    .crib{
        text-align: left;
        margin-left: 100px;
        
    }
    .sub{
        width: 463px;
        height: 61px;
        font-size: 20px;
    }
    #yesa{
        width: 175px;
        height: 62px;
        font-size: 20px;
        color: #FFF;
    }
}