.health{
    background-image: url("../assets/images/Rectangle32.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 185px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.health h2{
    font-family: var(--roboto);
    color: #ffffff;
    padding-top: 24px;
    font-size: 20px;
    text-align: center;
    
}
.health p{
    font-family: var(--roboto);
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.health button{
    background-color: #ffffff;
    width: 114px;
    height: 39px;
    border-radius: 15px;
    color: #1E3673;
    font-family: var(--roboto);
    font-size: 12px;
    font-weight: 400;
}
@media(min-width: 900px){
    .health h2{
        font-size: 32px;
        line-height: 42.94px;
        margin-top: 142px;
    }
    .health p{
        font-size: 20px;
        line-height: 26.838px;
        width: 436px;
    }
    .health{
        height: 526px;
    }
    .health button{
        width: 192px;
        height: 60px;
        font-size: 20px;
    }
}